<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav>
        <a class="siteTitle" href="/">
            <h1>Mini Messageboard</h1>
        </a>
        <div>
            <a href="/"><button type="button">Messages</button></a>
            <a href="/new"><button type="button">Add a new message</button></a>
        </div>
    </nav>

    <main>
        <div class="container msgDeats">
            <div class="containerHead">
                <h2>Message Details</h2>
            </div>
            <div class="msgBody">
                <div class="msgTop">
                    <p><strong>Author:</strong>
                        <%= message.username %>
                    </p>
                    <p class="text"><strong>Message:</strong>
                        <%= message.message %>
                    </p>
                </div>
                <div class="msgBot">
                    <em>
                        <strong>Added:</strong>
                        <%= new Date(message.add_date).toLocaleString() %>
                    </em>
                    <form action="/messages/<%= message.id %>/delete" method="POST"
                        onsubmit="return confirm('Are you sure you want to delete this message?');">
                        <div class="formBtns">
                            <button type="submit" class="msgBtn">Delete Message</button>
                            <a href="/<%= message.id %>/update"><button type="button" class="msgBtn">Edit
                                    Message</button></a>
                            <a href="/"><button type="button" class="msgBtn back">Back</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>